// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #eecd15;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(118, 116, 116);
$dark-gray: rgb(108, 107, 107);
$light-gray:#ccc;
$black: black;
$white: white;
