.btn-icon {
  display :inline-block;
  font-size:30pt;
  padding :12px 12px;
  box-shadow: 6px;
  border-radius: 10px;
  border :2px;
  color :$black;
  position: relative;
  z-index: 0;
  transition: .3s;
}

.btn-icon:hover {
  box-shadow: 0 5px 5px $dark-gray;
  color: $home-red;
  transform: scale(1.3);
  opacity: 1;
  cursor:pointer;
}

.category_name {
  color: $black;
}

.box {
  text-align: center;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: $button-yellow;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.category_name {
  font-size: 12px;
  text-align: center;

}

.flex {
  display: flex;
  justify-content: center;
}
