<div class="card shadow text-center rounded-3">
  <% cl_image_tag("#{product.photos.first}", width: 400, height: 300, crop: :fill) %>
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
    <p class="card-text text-muted">$<%= product.rental_price_day %> per day</p>
    <%= link_to "View this product", product_path(product), class: "btn btn-primary" %>
  </div>
</div>
