<div class="card shadow text-center rounded-3">
  <%= cl_image_tag("#{product.photos.first.key}", width: 250, height: 200, crop: :pad) %>

  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text text-muted">¥<%= product.rental_price_day.to_i %> per day</p>
    <%= link_to "View this product", product_path(product), class: "btn btn-dark" %>
  </div>
</div>
